body {
  background-color: rgb(228, 228, 228);
  /* border: solid 2px; */
}

main {
  width: 50%;
  margin: 5% auto;
  padding: 50px;
  border: solid white 25px;
  border-style: ridge;
  /* width: 50%;
  margin: 5% auto; */
}

h1 {
  /* color: red;
  font-family: American Typewriter;
  font-size: 80px;
  text-align: center;
  text-decoration: underline 5px;
  text-decoration-color: red; */
  color: red;
  font-family: American Typewriter;
  font-size: 80px;
  text-align: center;
  text-decoration-color: red;
  border: red solid 15px;
  border-style: ridge;
  background-color: black;
  padding: 15px;
}

h2 {
  font-family: American Typewriter;
  text-align: center;
  border: solid 5px;
  width: 125px;
  background-color: white;
  /* font-family: American Typewriter;
  text-align: left; */
  /* border: solid 2px; */
  /* width: 125px; */
}

h2:hover {
  color: red;
  font-size: 26px;
}

p {
  font-size: 18px;
  text-align: justify;
  padding: 25px;
  background-color: white;
  border: 5px solid black;
  /* font-size: 18px;
  text-align: justify; */
  /* background-color: white; */
  /* border: 1px solid black; */
}

p:hover:first-letter {
  color: red;
  font-size: 36px;
}

span {
  font-weight: bold;
  color: red;
}
