body {
  /* max-width: 100vw; */
  height: 100vh;
  background-image: url("/src/dashboard/1488322-sunrise.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /* position: fixed; */
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 15% 40% 15% 30%;
  /* grid-gap: 16px; */
  overflow: hidden;
}

.calendar {
  grid-area: 1/1/2/2;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: white;
  /* width: 100%; */
}

.cal-image {
  max-width: 35%;
  display: block;
  margin: 0 auto;
}

.weather {
  grid-area: 1/2/2/3;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: white;
}

.cloud {
  max-width: 25%;
  display: block;
  margin: 0 auto;
}

.calculator {
  grid-area: 1/3/4/4;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: white;
}

.calc-image {
  max-width: 35%;
  display: block;
  margin: 0 auto;
}

.time {
  grid-area: 2/2/3/3;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100px;
  font-weight: bold;
  color: white;
  padding-top: 100px;
}

.greeting {
  grid-area: 2/2/3/3;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  font-weight: bold;
  color: white;
}

.focus {
  grid-area: 3/2/4/3;
  text-align: center;
  padding-bottom: 100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  color: white;
  padding-top: 25px;
  /* border-bottom: white solid 2px; */
}

.fact {
  grid-area: 4/1/5/2;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: white;
  /* padding-top: 125px; */
}

/* .pfact {
  display: flex;
} */

.factainer {
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  text-align: center;
  color: white;
  display: block;
  margin: 0 auto;
  /* max-width: 50%; */
}

.quote {
  grid-area: 4/2/5/3;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: none;
  color: white;
  padding-top: 110px;
}

.author {
  grid-area: 4/2/5/3;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: italic;
  color: white;
}

.todo {
  grid-area: 4/3/5/4;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 18px;
  /* padding-top: 125px; */
}
.input {
  display: block;
  margin: 0 auto;
}
.todolist {font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: white;
