@media (max-width: 576px) {
  body {
    max-width: 576px;
    background-color: 4d645f;
  }

  .topNav {
    display: none;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdownContent {
    display: none;
    align-items: center;
    position: absolute;
    background-color: 6b8c86;
    min-width: 100px;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }

  .dropdown:hover .dropdownContent {
    display: block;
  }

  #dMenu {
    font-family: "Poppins", sans-serif;
    font-weight: lighter;
    color: white;
    margin: 0 auto;
  }

  #dhome {
    margin-bottom: 10px;
  }

  #dWork {
    margin-top: 10px;
  }

  .mission {
    background-color: 6b8c86;
    height: 175px;
    margin: 25px;
    padding: 25px;
    border: none;
  }

  .about {
    background-color: 6b8c86;
    height: 350px;
    margin-left: 25px;
    margin-right: 25px;
    padding: 25px;
    border: none;
  }

  .block2 {
    display: flex;
    align-items: flex-start;
    background-color: 6b8c86;
    height: 200px;
    margin: 25px;
    padding: 25px;
    border: none;
  }

  img {
    display: flex;
    align-content: center;
  }

  .ulList {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  li {
    font-family: "Poppins", sans-serif;
    font-weight: lighter;
    color: white;
    align-items: center;
  }

  address {
    font-family: "Poppins", sans-serif;
    font-weight: lighter;
    color: white;
    margin-left: 150px;
    margin-top: 50px;
  }

  blockquote {
    font-family: "Poppins", sans-serif;
    font-weight: lighter;
    color: white;
    background-color: 6b8c86;
    height: 300px;
    margin-left: 25px;
    margin-right: 25px;
    padding: 25px;
    border: none;
  }
}
