/* tablet view */
@media (max-width: 768px) {
  body {
    border-bottom: black solid 2px;
  }
  .sidebar {
    visibility: hidden;
  }
  .footer {
    visibility: hidden;
  }
}

/* mobile view */

@media (max-width: 576px) {
  body {
    border-bottom: none;
  }
  .footer {
    width: 400px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "footer-left footer-right";
    visibility: visible;
    background-color: grey;
    padding: 5px;
  }

  .left {
    grid-area: footer-left;
  }

  .right {
    grid-area: footer-right;
  }

  .h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 14px;
    font-weight: bold;
  }

  .p-foot {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: white;
  }

  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }

  .fa-facebook {
    background: #3b5998;
    color: white;
  }

  .fa-twitter {
    background: #55acee;
    color: white;
  }
}
