@media (max-width: 736px) {
    body {max-width: 736px;}

    header {height:205px;
    background-image: url(./Images/head-3071690_1920.png);
    background-repeat: no-repeat;
    margin-top: -55px;
    margin-left: 100px;
}
    #logoRose {display: none;}

    .logo {display: none;
    display: flex;
    justify-content: center;}

    nav {
        display: flex;
        justify-content: center;
        width: 100%;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        font-weight: bold;
        display: none;
      }
    
    #featurePhoto {max-width: 100%;}

    .float > p { display: none;}
    
    h2 {display: none;}

    .float {
        position: absolute;
        top: 300px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        font-weight: bold;
      }

    #bookNow {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 14px;
        display: inline-block;
        margin-top: 30px;
        margin-left: -75px;
        padding: 12px 7px 12px 7px;
        background-color: red;
        color: white;
      }
      
    #aBook {
        color: white;
      }

    .container2 {
        height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 25px;
        margin-left: 45px;
        margin-right: 45px;
        margin-bottom: 25px;
      }
      
    .border {
        border: solid black 2px;
        margin-left: 10px;
      }
      
    .container2 > h3 {
        display: flex;
        align-items: flex-end;
      }
      
    h3 {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
      }

    .footer {
        height: 150px;
        display: block;
        justify-content: center;
        align-items: center;
        background-color: black;
        margin-top: 1125px;
        margin-bottom: 50px;
      }
      
    .copyright {
        display: flex;
        align-items: center;
        margin-left: 0px;
      }
      
    #pfoot {
        width: 100%;
        font-size: 12px;
        margin-top: 45px;
        text-align: center;
      }
      
    .social {
        display: flex;
        justify-content: space-between;
        width: 175px;
        align-items: center;
        margin-right: 0px;
        margin-left: 115px;}
      
    .social > a {
        color: white;
      }
      