@media (max-width: 576px) {
  body {
    max-width: 576px;
  }

  .mainContainer {
    margin: 25px;
    padding: 25px;
    border: 0;
  }

  h1 {
    text-align: center;
    font-size: 6rem;
  }

  .topNav {
    display: flex;
  }

  #about {
    margin-right: 50px;
    display: none;
  }

  #work {
    display: none;
  }

  #contact {
    display: none;
    margin-left: 50px;
  }

  #menu {
    display: inline;
    padding: 0 25px 0 25px;
    align-content: center;
  }

  .projectContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
  }

  .project {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .videoContainer {
    display: flex;
    align-items: center;
  }

  video {
    width: 376px;
    height: 225px;
  }

  #reset {
    border: white 5px;
  }

  #submit {
    border: white 5px;
  }
}
